// camera upload styling

label.camera-button {
  display: inline-block;
  margin: 0em 0;
  border: 2px solid #666;
  background-color: #007f3b;
  padding: 12px 24px;
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  &.camera-button--blue {
    @include button($blue);
    border: 2px solid rgba(#1a5095,1);
    margin-top: 0.5em !important;
  }
}

// Look like a clicked/depressed button
label.camera-button:active {
  border-color: #CCC #EEE #EEE #CCC;
}

// This is the part that actually hides the 'Choose file' text box for camera inputs
label.camera-button input[accept*="image/*"],
label.camera-button input[accept*="video/*"] {
  display: none;
}

// new html5 video stuff

canvas {
  background-color: #ccc;
  max-width: 100%;
  width: 100%;
}


video#gum,
video#recorded {
  background: #222;
  margin: 0;
  display: block;
  //height: 50vh;
  width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  //object-fit: contain;
  -webkit-tap-highlight-color: transparent;

  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.camera-preview-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 0!important;
}

.camera-preview-overlay {
  position:absolute;
  width:100%;
  height: 100%;
  background: transparent url("/images/cutout.svg");
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:300000;

  &.passport {
    background: transparent url("/images/cutout-passport.svg");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.driving {
    background: transparent url("/images/cutout-driving-licence.svg");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.camera-preview-feed {
  margin: 0;
}

.camera-instructions {
  display: table;
  color: white;
  background-color: #222222;
  padding: 16px;
  margin: 0;
  width: 100%;
}

.camera-instructions-text {
  display: table-cell;
  vertical-align: top;
}

.camera-instructions-numbers {
  display: table-cell;
  min-width: 120px;
  font-size: xx-large;
  font-weight: bold;
  vertical-align: top;
  text-align: right;
}

.camera-record {
  margin: 0 auto;
}

button#record,
button#play,
button#download {
  //background-color: #d84a38;
  //border: none;
  //border-radius: 2px;
  //color: white;
  //font-family: 'Roboto', sans-serif;
  //font-size: 0.8em;
  //margin: 0 0 1em 0;
  //padding: 0.5em 0.7em 0.6em 0.7em;

  &:active {
    //background-color: #cf402f;
  }
  &:hover {
    //background-color: #cf402f;
  }
  &[disabled] {
    //color: #ccc;
  }
}

.camera-container {
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 40em;
  padding: 0;
}

#camera-container {
  overflow: hidden;

  @include media(tablet) {
    max-width: 80%;
    margin: 0 auto 0 auto !important;
  }

}

#gum {

}

// code from Nishant

.booth {
  width: 400px;
  background-color: #ccc;
  border: 10px solid #ddd;
  margin: 0 auto;
}

.booth-capture-button {
  display: block;
  margin: 10px 0px;
  padding: 10px 20px;
  background-color: cornflowerblue;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#canvas {
  display: none;
}

#container {
  margin: 0px auto;
  width: 300px;
  height: 700px;
  border: 10px #005eb8 solid;
  background-color: #005eb8;
}

#videoElement {
  width: 400px;
  height: 300px;
  background-color: #666;
}

#Next, #NHSN, #record, #startRec, #stopRec {
  //display: block;
  //margin: 5px 0px;
  //padding: 10px 10px;
  //background-color: #fff;
  //color: #005eb8;
  //text-align: center;
  //text-decoration: none;
}

#NHSONLINE {
  display: block;
  margin: 0px 0px;
  padding: 10px 10px;
  background-color: #fff;
  color: #005eb8;
  text-align: left;
  text-decoration: none;
}

#NHS {
  display: block;
  margin: 0px 0px;
  padding: 10px 10px;
  background-color: #005eb8;
  color: #fff;
  text-align: left;
  text-decoration: none;
}


#capture {
  border: none;
  display: block;
  padding: 0.5em 1em;
  margin: 1% auto 0;
  cursor: pointer;
  color: #fff;
  background-color: black;
}

#photo {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}